<h1>Restaurants</h1>

<br>
<%= link_to 'Add a new restaurant',  new_restaurant_path(@restaurant) %>
<br><br><br>

<% @restaurants.each do |restaurant| %>
  <p><%= link_to restaurant.name, restaurant_path(restaurant)%></p>
  <p>Cuisine: <%= restaurant.category %></p>
  <br><br>
<% end %>
